# Бинарные файлы (результат сборки)
/api
/main
*.exe
*.exe~
*.dll
*.so
*.dylib

# Папка cmd сборщика (если будете билдить туда)
/cmd/api/api

# Кэш и логи
.main.go.swp
*.log

# Системные файлы Mac
.DS_Store

# Скрываем секретные конфигурации
.env